
.margin-bottom {
  margin-bottom: 2px;
}

.margin-top {
  margin-top: 2px;
}

.large-margin-top {
  margin-top: 4px;
}

.jumbotron.jumbotron.jumbotron{
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 32px;
}

.custom-lead{
	font-weight: 500;
}
